<p id="user-fb-name" style="display: none;"><%= session[:user_fb_name].nil? ? '' : ('Mire se erdhe, ' + session[:user_fb_name]) %></p>
<p><a id="btn-login" onclick="return login();" href="#" style="display: none;">Log In</a></p>
<p><a id="btn-logout" onclick="return logout();" href="#" style="display: none;">Log Out</a></p>
<br/>
<p><a id="get-user-info" href="#" style="display: none;">Get User Info</a></p>
<p><a id="get-user-friends" href="#" style="display: none;">Get User Friends</a></p>

<div id="loader" style="display: none;"></div>

<div style="display:none;margin-top: 20px;" id="mesazhi" class="animate-bottom">
  <h2 style="color: green;">Sukses!</h2>
  <p>Te dhenat e juaja u morren me sukses!</p>
</div>

<style>
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
  }

  @keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
  }

  #myDiv {
    display: none;
    text-align: center;
  }
</style>


<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1191904330893043',
            cookie     : true,
            xfbml      : true,
            version    : 'v2.8'
        });
        get_status();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $('#get-user-info').on('click', function () {
        $('#mesazhi').hide();
        $('#loader').show();
        $.ajax({
            url: 'user_info',
            success: function (data) {
                $('#loader').hide();
                $('#mesazhi').show();
                console.log('User info:', data);
            },
            error: function (err1, err2) {
                console.log('Error: \n' + JSON.stringify(err1) + '\n' + JSON.stringify(err2));
            }
        });
        return false;
    });

    $('#get-user-friends').on('click', function () {
        $('#mesazhi').hide();
        $('#loader').show();
        $.ajax({
            url: 'user_friends',
            success: function (data) {
                $('#loader').hide();
                $('#mesazhi').show();
                console.log('User friends:', data);
            },
            error: function (err1, err2) {
                alert('Error: \n' + JSON.stringify(err1) + '\n' + JSON.stringify(err2));
            }
        });
        return false;
    });

    function login() {
        FB.login(function(response) {
            console.log(response);
            if (response.status === 'connected') {
                alert('Logged in successfully!');
                $.ajax({
                    url: 'login_callback',
                    data: {token: response.authResponse.accessToken},
                    success: function(data){
                        $('#user-fb-name').text('Mire se erdhe, ' + data.name);
                        get_status();
                    },
                    error: function (err1, err2) {
                        alert(JSON.stringify(err1) + '\n' + JSON.stringify(err2));
                    }
                });
            } else if (response.status === 'not_authorized') {
                alert('The person is logged into Facebook, but not your app.');
            } else {
                alert("The person is not logged into Facebook, so we're not sure if they are logged into this app or not..");
            }
        }, {scope:
                'public_profile,'+
                'user_friends,'+
                'email,'+
                'user_hometown,'+
                'user_likes,'+
                'user_location,'+
                'user_about_me,'+
                'user_birthday,'+
                'user_actions.books,'+
                'user_actions.fitness,'+
                'user_actions.music,'+
                'user_actions.news,'+
                'user_actions.video,'+
                'user_education_history,'+
                'user_events,'+
                'user_games_activity,'+
                'user_managed_groups,'+
                'user_photos,'+
                'user_posts,'+
                'user_relationships,'+
                'user_relationship_details,'+
                'user_religion_politics,'+
                'user_tagged_places,'+
                'user_videos,'+
                'user_website,'+
                'user_work_history,'+
                'read_custom_friendlists,'+
                'read_insights,'+
                'read_audience_network_insights'
//                'read_page_mailboxes'
        });
        return false;
    }

    function logout() {
        FB.logout(function(response) {
            // Person is now logged out
            alert('logged out');
            $.ajax({
                url: 'logout_callback',
                success: function(data){
                    $('#user-fb-name').text('');
                    get_status();
                },
                error: function (err1, err2) {
                    alert(JSON.stringify(err1) + '\n' + JSON.stringify(err2));
                }
            });
        });
        return false;
    }
    
    function get_status() {
        FB.getLoginStatus(function(response) {
            var $btn_login = $('#btn-login');
            var $btn_logout = $('#btn-logout');
            var $user_info = $('#get-user-info');
            var $user_friends = $('#get-user-friends');
            var $user_fb_name = $('#user-fb-name');
            if(response.status == 'connected'){
                $btn_login.hide();
                $btn_logout.show();
                $user_info.show();
                $user_friends.show();
                $user_fb_name.show();
            } else {
                $btn_login.show();
                $btn_logout.hide();
                $user_info.hide();
                $user_friends.hide();
                $user_fb_name.text('');
                $user_fb_name.hide();
            }
            console.log('status: ', response.status);
        });
        return false;
    }

    //SCOPES:
    //    public_profile
    //    user_friends
    //    email
    //    user_about_me
    //    user_actions.books
    //    user_actions.fitness
    //    user_actions.music
    //    user_actions.news
    //    user_actions.video
    //    user_actions:{app_namespace}
    //    user_birthday
    //    user_education_history
    //    user_events
    //    user_games_activity
    //    user_hometown
    //    user_likes
    //    user_location
    //    user_managed_groups
    //    user_photos
    //    user_posts
    //    user_relationships
    //    user_relationship_details
    //    user_religion_politics
    //    user_tagged_places
    //    user_videos
    //    user_website
    //    user_work_history
    //    read_custom_friendlists
    //    read_insights
    //    read_audience_network_insights
    //    read_page_mailboxes
    //    manage_pages
    //    publish_pages
    //    publish_actions
    //    rsvp_event
    //    pages_show_list
    //    pages_manage_cta
    //    pages_manage_instant_articles
    //    ads_read
    //    ads_management
    //    business_management
    //    pages_messaging
    //    pages_messaging_subscriptions
    //    pages_messaging_payments
    //    pages_messaging_phone_number
</script>